version: '3.8'

services:
  web:
    build: .
    container_name: uzmat_web
    volumes:
      - ./media:/app/media
      - ./staticfiles:/app/staticfiles
      - ./db.sqlite3:/app/db.sqlite3
    ports:
      - "8000:8000"
    environment:
      - DEBUG=False
      - ALLOWED_HOSTS=109.199.127.149,localhost,127.0.0.1
    restart: unless-stopped
    user: root

  nginx:
    image: nginx:alpine
    container_name: uzmat_nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - ./staticfiles:/app/staticfiles
      - ./media:/app/media
    depends_on:
      - web
    restart: unless-stopped

